# Backend NestJS API URL
NESTJS_API_URL=http://localhost:3001/api

# Frontend Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Security & Copy Protection (F12, Inspect Element, Shortcuts)
# Set to "true" in production to block F12/Inspect, or "false" during local development
NEXT_PUBLIC_DISABLE_DEVTOOLS=true
